@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional <information></information>.</p>
    @if (false)
    {
        <p>teste</p>
    }