@model IEnumerable<Department>

@{
    ViewData["Title"] = "Index";
}

<h2>
    @ViewData["Title"]
</h2>
<p>
    @* <a asp-action="Create">Criar Novo</a> *@
   
</p>

@foreach (var department in Model)
{
    <p>@department.Id - @department.Name</p>
}